.portfolio {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 120px 0;
}

.portfolio-container ul {
  display: flex;
  flex-wrap: wrap;
  width: calc((100%-72px) / 4);
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.port-desc {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  gap: 8px;
  padding: 32px 16px;
}

.portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}

.portfolio h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
